<h1>Author Show Page</h1>

<p>
  <strong>First name:</strong>
  <%= @author.first_name %><br<br>
</p>

<p>
  <strong>Last name:</strong>
  <%= @author.last_name %><br<br>
</p>

<p>
  <strong>Homepage:</strong>
  <%= @author.homepage %><br<br>
</p>

<%= link_to 'Back', authors_path %>
